.heading
{
  font-size: 23px;
  width: 100%;
  margin: 0px;
}
.note
{
  font-size: 15px;
  color: black;
}
body
{
  background-size: contain;	
  background-position: repeat;
  
}
  #song
  {
  	font-size: 23px;
  	margin: 15px;
  }
    canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px #73cfd8;
  }
.note
{
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.heading
{
  font-size: 50;
}